.restaurant-scheduler {
  padding: 50px 150px;
}

.search-bar {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

.search-input {
  padding: 11px;
}

.search-btn {
  padding: 11px 15px;
}

.restaurant-info {
  width: 100%;
}

.no-result {
  text-align: center;
  margin-top: 100px;
}

.restaurant-info-container, .schedule-container {
  margin-left: 15px;
}